<header>
    <div id="top_div">
        <div class="topnav" id="myTopnav">
            <a href="{{ url_for('HomePage') }}">HOME</a>
            <a href="{{ url_for('HomePage') }}#about_a" class="topmenu">ABOUT</a>
            <a href="{{ url_for('HomePage') }}#skills" class="topmenu">SKILLS</a>
            <a href="{{ url_for('HomePage') }}#portfolio" class="topmenu">PORTFOLIO</a>
            <a href="{{ url_for('HomePage') }}#experience" class="topmenu">EXPERIENCE</a>
            <a href="{{ url_for('HomePage') }}#education" class="topmenu">EDUCATION</a>
            <a href="{{ url_for('HomePage') }}#contact_a" class="topmenu">CONTACT</a>
            <a href="{{ url_for('UsersListPage') }}" class="topmenu"><b>CONTACT LIST</b></a>
        </div>
    </div>
</header>